{% extends "_layout.njk" %}

{% block body %}
<!--=========================================
The error service couldn't find an error page
 for that status code.
You can add your own errors by mounting them
 at /data/custom/{status}.html // TODO
==========================================-->
<h1>?</h1>
<sub>Well, this is awkward</sub>
<p>The error went missing?</p>
{% endblock %}
